.white_center{
	color:white;
	text-transform: uppercase;
	text-align: center;
}
body{
	background-image: url("koko.jpg");
	background-size: cover;
	background-blend-mode: lighten;


}
h4{
	text-align: center;

}
.nav{
	grid-area: 1 / 1 / span 1 / span 3;
	background-color:purple;

}
.left{

	grid-area: "left"

	background-color:blue;


}
.right
{

	grid-area: "right"
	background-color:tan;
}
.center
{
	grid-area: "main";
	clear:both;
	background-color:green;
}
.grid-container
{
	display: grid;

	grid-template-columns: 50px auto 50px;
	grid-template-rows:auto;
}
footer{
	grid-area: "footer"
}
